@import 'vars';

div .landing {
    width: 80%;
    margin-left: 10%;
    height: inherit;
}

div .landingParaOne:hover {
  width: 100%;
  padding: 20px 30px 30px 30px;
  height: 50%;
  font-size: 17px;
  box-shadow: 8px 8px 3px #888888;
}

div .landingParaTwo:hover {
  width: 100%;
  padding: 20px 30px 30px 30px;
  height: 50%;
  font-size: 17px;
  box-shadow: 8px 8px 3px #888888;
}

div .landingParaThree:hover {
  width: 100%;
  padding: 20px 30px 30px 30px;
  height: 50%;
  font-size: 17px;
  box-shadow: 8px 8px 3px #888888;
}

div .landingPara p {
    background-color: $background-color;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 20px 20px 20px;
    height: 33.3%;
    border-left: 10px solid;
    border-left-color: $primary-color;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

}

h3 {
  text-align: center;
  color: $header-color;
  font-family: $font-main;
  font-size: 20px;
}
